In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#funcion delete
def delete_column(df, column_name):
    del df[column_name]
    return "column deleted"

## Import train DF

In [3]:
def conection(database):
    connection = create_engine("sqlite:///"+ database).connect()
    return connection
con = conection("../files/diamonds_train.db")

In [4]:
def query_diamond(query):
    df_diamonds_full_train = pd.read_sql_query(query,con)
    return df_diamonds_full_train

query_diamonds_full_train = '''
SELECT 
    d_prop.index_id,
    
    d_tran.carat,
    d_cut.cut,
    d_col.color,
    d_clar.clarity,

    d_dim.depth,
    d_dim.'table',
    d_dim.x,
    d_dim.y,
    d_dim.z,
    
    d_city.city,

    d_tran.price
    
FROM diamonds_properties as d_prop
    INNER JOIN diamonds_clarity as d_clar ON d_prop.clarity_id = d_clar.clarity_id
    INNER JOIN diamonds_color as d_col ON d_prop.color_id = d_col.color_id
    INNER JOIN diamonds_cut as d_cut ON d_prop.cut_id = d_cut.cut_id
    INNER JOIN diamonds_dimensions as d_dim ON d_prop.index_id = d_dim.index_id
    INNER JOIN diamonds_transactional as d_tran ON d_prop.index_id = d_tran.index_id
    INNER JOIN diamonds_city as d_city ON d_tran.city_id = d_city.city_id
'''

df_diamonds_train = query_diamond(query_diamonds_full_train)

In [5]:
df_diamonds_train.head()

,index_id,carat,cut,color,clarity,depth,table,x,y,z,city,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,1.21,Premium,J,VS2,62.4,58.0,6.83,6.79,4.25,Dubai,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0.32,Very Good,H,VS2,63.0,57.0,4.35,4.38,2.75,Kimberly,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,0.71,Fair,G,VS1,65.5,55.0,5.62,5.53,3.65,Las Vegas,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,0.41,Good,D,SI1,63.8,56.0,4.68,4.72,3.00,Kimberly,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1.02,Ideal,G,SI1,60.5,59.0,6.55,6.51,3.95,Dubai,4882

In [6]:
df_diamonds_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index_id  40455 non-null  object
 1   carat     40455 non-null  float64
 2   cut       40455 non-null  object
 3   color     40455 non-null  object
 4   clarity   40455 non-null  object
 5   depth     40455 non-null  float64
 6   table     40455 non-null  float64
 7   x         40455 non-null  float64
 8   y         40455 non-null  float64
 9   z         40455 non-null  float64
 10  city      40455 non-null  object
 11  price     40455 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 3.7+ MB

In [7]:
#df_diamonds_train[df_diamonds_train["x"]<1].index.tolist()

In [8]:
#df_diamonds_train[df_diamonds_train["z"]<1].index.tolist()

In [9]:
#df_diamonds_train.drop(df_diamonds_train[df_diamonds_train["x"]<1].index,axis=0,inplace=True)
#df_diamonds_train.drop(df_diamonds_train[df_diamonds_train["z"]<1].index,axis=0,inplace=True)

In [10]:
#df_diamonds_train[df_diamonds_train["y"]<1].index.tolist()

In [11]:
#df_diamonds_train["z"].min()

In [12]:
#import plotly.express as px
#fig_inic = px.box(df_diamonds_train["price"])
#fig_inic.show()

### quitar outliers

In [13]:
#df_diamonds_train[df_diamonds_train["carat"]>=4]

In [14]:
#df_diamonds_train.drop(df_diamonds_train[df_diamonds_train["carat"]>=4].index,axis=0,inplace=True)

In [15]:
#df_diamonds_train= df_diamonds_train.reset_index(drop=True)
#df_diamonds_train.head()

## Import test DF

In [16]:
def import_csv_diamonds(location):
    df_diamonds_test = pd.read_csv(location)
    return df_diamonds_test

df_diamonds_test = import_csv_diamonds("../files/diamonds_test.csv")

In [17]:
df_diamonds_test.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam

In [18]:
df_diamonds_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       13485 non-null  int64
 1   carat    13485 non-null  float64
 2   cut      13485 non-null  object
 3   color    13485 non-null  object
 4   clarity  13485 non-null  object
 5   depth    13485 non-null  float64
 6   table    13485 non-null  float64
 7   x        13485 non-null  float64
 8   y        13485 non-null  float64
 9   z        13485 non-null  float64
 10  city     13485 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB

## X_train, y_train

In [19]:
X_train_cat = df_diamonds_train.copy()
delete_column(X_train_cat, "price")
delete_column(X_train_cat, "index_id")
y_train_cat = df_diamonds_train["price"]

In [20]:
X_train_cat[["cut","color","clarity","city"]] = X_train_cat[["cut","color","clarity","city"]].astype("category")

X_train_cat["cut"] = X_train_cat["cut"].cat.codes
X_train_cat["color"] = X_train_cat["color"].cat.codes
X_train_cat["clarity"] = X_train_cat["clarity"].cat.codes
X_train_cat["city"] = X_train_cat["city"].cat.codes

In [21]:
X_train_cat["carat"] = X_train_cat["carat"]*1000
X_train_cat["x"] = X_train_cat["x"]*10
X_train_cat["y"] = X_train_cat["y"]*10
X_train_cat["z"] = X_train_cat["z"]*10

In [22]:
X_train_cat["cut"] = X_train_cat["cut"]*10
X_train_cat["color"] = X_train_cat["color"]*10
X_train_cat["clarity"] = X_train_cat["clarity"]*10
X_train_cat["city"] = X_train_cat["city"]*10

####  scaling - X_train

from sklearn.preprocessing import StandardScaler
X_train_columns = X_train.columns.tolist()
train_scaled = StandardScaler()
train_scaled_fit = train_scaled.fit_transform(X_train[X_train_columns])
X_train_scaled = pd.DataFrame(train_scaled_fit, columns = X_train_columns)
X_train_scaled.head()

## X_test

In [23]:
X_test = df_diamonds_test.copy()
delete_column(X_test, "id")
X_test

,carat,cut,color,clarity,depth,table,x,y,z,city
0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...
13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [24]:
X_test[["cut","color","clarity","city"]] = X_test[["cut","color","clarity","city"]].astype("category")

X_test["cut"] = X_test["cut"].cat.codes
X_test["color"] = X_test["color"].cat.codes
X_test["clarity"] = X_test["clarity"].cat.codes
X_test["city"] = X_test["city"].cat.codes

In [25]:
X_test["carat"] = X_test["carat"]*1000
X_test["x"] = X_test["x"]*10
X_test["y"] = X_test["y"]*10
X_test["z"] = X_test["z"]*10

In [26]:
X_test["cut"] = X_test["cut"]*10
X_test["color"] = X_test["color"]*10
X_test["clarity"] = X_test["clarity"]*10
X_test["city"] = X_test["city"]*10

####  scaling - X_test

X_test_columns = X_test.columns.tolist()
train_scaled = StandardScaler()
train_scaled_fit = train_scaled.fit_transform(X_test[X_test_columns])
X_test_scaled = pd.DataFrame(train_scaled_fit, columns = X_test_columns)
X_test_scaled.head()

## MODEL

In [27]:
#from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train_cat, y_train_cat)
predictions = model.predict(X_test).clip(350,18000)
id_predictions = [i for i in range(0,len(predictions))]
predictions_df = pd.DataFrame({"id":id_predictions , "price":predictions })
predictions_df.head()
predictions_df.to_csv("all_variables_cat_codes_manual_escaling_all_vars_maspesocarat.csv", sep=",", index=False)